# Java/Maven noise
*.class
*.jar
*.war
*.ear
target/
**/target/
**/.settings/
.idea
.vscode

# OS noise
desktop.ini
.DS_Store

# CSS bundler noise
.sass-cache

# Node/yarn/npm/typescript/parcel noise
#package-lock.json
yarn.lock
package-lock.json
node_modules/
**/node_modules/
.idea
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.parcel-cache
tsconfig.tsbuildinfo

# Log file
*.log
*.log.gz
*.log.txt

# Flash Builder noise
.actionScriptProperties
.flexProperties
.project
.classpath
bin/*
bin-debug/*
report/*
bin-test/*
.flexLibProperties

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.zip
*.tar.gz
*.rar
*.gz
*.7z

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project specific
dist/*
coverage/*
deadcode/*
playwright-results/
playwright-report/
dist/
docs-dist/
